<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Match Room Admin</title>
		<link rel="stylesheet" type="text/css" href="/views/tetris.css" />
		<style>
			button,
			input,
			select,
			option {
				margin: 0;
				padding: 0;
				border: 0;
				font-family: 'Press Start K', monospace;
			}

			body {
				margin: 2px;
			}

			.box {
				position: static;
				height: auto;
				margin: 2px;
			}

			.box > div {
				margin: 0.6em;
			}

			.box .inputs div {
				border: solid black 1px;
			}

			.victories {
				font-size: 32px;
				letter-spacing: 6px;
			}

			.victories span {
				cursor: pointer;
			}

			button {
				font-size: 24px;
			}

			.win {
				color: red;
			}

			input[type='text'],
			.inputs select {
				text-align: center;
				box-sizing: border-box;
				width: 100%;
				padding: 6px;
				font-size: 16px;
			}

			#curtain_logo_url {
				width: 40%;
				text-align: left;
			}

			.inputs select {
				height: 32px; /* why though?? */
				text-align-last: center;
			}

			button,
			select,
			option {
				font-size: 16px;
				line-height: 20px;
				padding: 4px;
				background: lightgrey;
			}

			img.avatar {
				margin: 0.5em;
				border: solid 1px transparent;
				width: 60px;
				height: 60px;
			}

			img.country_code {
				margin: 0.5em;
				border: solid 1px white;
				width: 90px;
				height: 60px;
			}

			#players {
				display: flex;
				flex-wrap: wrap;
			}

			.player {
				flex: 1 400px;
			}

			.player .header {
				position: relative;
			}

			.player .header .remove_player {
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;
			}

			.buttons {
				text-align: center;
				margin-top: 6px;
			}

			input[type='radio'] {
				margin-left: 2em;
			}
		</style>
	</head>
	<body>
		<p>Player link:<br /><a id="player_link">-</a></p>

		<div class="box">
			<div id="room">
				Room ID: <span id="roomid"></span> - Producers:
				<span id="producer_count"></span>
			</div>
			<div id="num_games">
				Best of:
				<select id="bestof"></select>
			</div>
			<div>
				Curtain logo image URL:
				<input
					type="text"
					id="curtain_logo_url"
					placeholder="curtain logo url"
				/>
			</div>
			<div id="buttons">
				<button id="clear_victories">Clear Victories</button>
				<button id="show_runways">Show Runways</button>
				<button id="hide_runways">Hide Runways</button>
				<button id="focus_none">No Player Focus</button>
			</div>
		</div>

		<div class="box" id="show_match_controls">
			Show Match:
			<input
				type="radio"
				id="match_both"
				name="selected_match"
				value=""
				checked
			/>
			<label for="match_both">Both</label>
			<input type="radio" id="match_1" name="selected_match" value="0" />
			<label for="match_1">Match 1</label>
			<input type="radio" id="match_2" name="selected_match" value="1" />
			<label for="match_2">Match 2</label>
		</div>

		<div class="box" id="show_profile_cards_controls">
			Show Profile Cards:
			<input type="checkbox" id="pc_match_1" name="selected_match" value="0" />
			<span class="matches">
				<label for="pc_match_1">Match 1</label>
				<input
					type="checkbox"
					id="pc_match_2"
					name="selected_match"
					value="1"
				/>
				<label for="pc_match_2">Match 2</label>
			</span>
		</div>

		<div class="box" id="allow_autojoin_controls">
			Allow auto-join:
			<input type="checkbox" id="allow_autojoin" value="0" />
		</div>

		<div id="players"></div>

		<div class="buttons">
			<button id="add_player">+ Add Player</button>
		</div>

		<template id="player">
			<div class="box player">
				<div class="header">
					Player <span class="num"></span>
					<span class="remove_player" title="Remove player">X</span>
				</div>
				<div class="inputs">
					<div class="producers"><select></select></div>

					<% if (users && users.length) { %>
						<div class="users"><select>
							<option value="">Select user</option>
							<% users.forEach(user => { %>
								<option value="<%= user.id %>"><%= user.display_name %> (<%= user.login %>)</option>
							<% }) %>
						</select></div>
					<% } %>

					<div><input type="text" class="name" placeholder="name" /></div>
					<div>
						<input type="text" class="avatar" placeholder="avatar url" />
					</div>
					<div>
						<select class="country_code">
							<option value="">Country</option>
							<% countries.forEach(country => { %>
								<option value="<%= country.code %>"><%= country.name %></option>
							<% }) %>
						</select>	
					</div>
				</div>
				<div class="images">
					<img class="avatar" />
					<img class="country_code" data-url="/vendor/country-flag-icons/3x2/{code}.svg" />
				</div>
				<div class="victories"></div>
				<div>
					<p>
						<button class="winner">Winner</button>
						<button class="game_over">Game Over</button>
						<button class="cancel_game_over">Cancel Game Over</button>
					</p>
					<p>
						<button class="camera_restart">Restart Camera</button>
						<button class="camera_mirror">Mirror Camera</button>
					</p>
					<p>
						<button class="focus_player">Focus Player</button>
					</p>
				</div>
			</div>
		</template>

		<script src="/vendor/lodash.4.17.21.min.js"></script>
		<script type="module" src="/views/competition_admin.js"></script>
	</body>
</html>
