<!DOCTYPE html>
<html>
<head>
<style>
@font-face {
	font-family: 'Gotham';
	src: url('/tools/footer/Gotham Black Regular/Gotham Black Regular.ttf');
}

html, body {
	padding: 0;
	margin: 0;
	font-family: Gotham;
	background: black;


	--fsize: 22px;
	--beige: #fee28a;
	line-height: 24px;
	font-size: var(--fsize);
	color: var(--beige);
	height: 100%;
}

.frame {
	height: 100%;
    min-height: 100%;
  	background: black;
	overflow: hidden;
	text-align: center;
	padding: 0 3px;
	display: flex;
	flex-direction: column;
}

#name {
	border-bottom: 3px solid var(--beige);
	margin-bottom: 0.5em;
	padding-top: 6px;
	flex-shrink: 0;
	flex-grow: 0;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: var(--fsize);
	font-weight: normal;
	color: white;
	text-align: center;
	line-height: 32px;
}

#name h1 {
	line-height: 48px;
}

.container {
	flex: 1;
	padding: 0 6px;
}

section {
	margin-top: 1.25em;
}

section:first-of-type,
section#flag {
	margin: 0;
}

p {
	margin-block-start: 0.15em;
	margin-block-end: 0;
}

#twitch {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	bottom: 0;
	margin: 20px 0;
	color: white;
	width: 100%;
}

#twitch .envelop {
	margin: 0 0.25em;
	border-radius: 25px;
	background: #4c297e;
	line-height: 32px;
}

#twitch img.twitch {
	position: absolute;
	top: -5px;
	right: 15px;
}

#twitch .login {
	position: absolute;
	top: 1px;
	left: 22px;
	width: calc(100% - 32px - 60px);
	font-size: 18px;
	line-height: 32px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	vertical-align: middle;
}

</style>
</head>
<body>

<div class="frame">
	<section id="name">
		<h1><%= (user.display_name || '').replace(/^\d+\.\s+/, '') %></h1>
	</section>

	<div class="container">
		<section id="flag">
			<h1><%= [age, user.city].filter(v => v).join(' - ') %></h1>
			<img src="/vendor/country-flag-icons/3x2/<%= user.country_code %>.svg" width="64">
		</section>

		<% if (user.description) { %>
		<section id="bio">
			<h1>Player bio</h1>
			<p><%= user.description.replace(/\n+/g, ', ') %></p>
		</section>
		<% } %>

		<section id="play_style">
			<h1>Play info</h1>
			<p class="play_style">Style: <%= (user.style || '').toUpperCase() %></p>
			<p class="pb">PB: <%= pb %></p>
			<p class="pb">Elo: <%= elo_rating %><% if (user.elo_rank) { %> ( <%= user.elo_rank %> )<% } %></p>
		</section>

		<section id="interests">
			<h1>Interests</h1>
			<p><%= user.interests.replace(/\n+/g, ', ') %></p>
		</section>
	</div>

	<% if (!user.login.startsWith('__user')) { %>
		<div id="twitch">
			<div class="envelop">&nbsp;</div>
			<img class="twitch" src="/images/twitch_small.png" />
			<div class="login">
				<%= user.login %>
			</div>
		</div>
	<% } %>
</div>

<script>
let login = document.querySelector('#twitch .login');

function shrinkText() {
	const styles = getComputedStyle(login);

	login.style.fontSize = `${parseInt(styles.fontSize, 10) - 1}px`;
}

function checkShrink() {
	if (login.scrollWidth > login.clientWidth) {
		const styles = getComputedStyle(login);

		if (parseInt(styles.fontSize, 10) > 14) {
			shrinkText();
			window.requestAnimationFrame(checkShrink);
		}
	}
}

setTimeout(checkShrink, 100);

</script>
</body>
</html>