<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div>
<%= user.login %><br />
<img src="https://www.countryflags.io/<%= user.country_code %>/shiny/64.png"><br />
<%= user.interests %><br />
<%= user.style %><br />
<%= user.description %><br />
<%= pb %><br />

</div>

</body>
</html>