<html>
<head>
</head>
<body>
<p>Hi! On this page, you will find URLs for templates you can use in your OBS.</p>

<p>This URLs identify <b>YOU</b> as a user, do NOT share them with anyone.</p>

<p>There are many templates you can try. Play around to get a sense of them all.</p>

<p>Copy the URL by URLs by right clicking on the ones you want and selecting <em>Copy Link Address</em>.</p>

<p>Single player templates:</p>
<dl>

<!--
<dt>Classic</dt>
<dd><a href="/layout/classic/<%= secret %>"></a></dd>
-->

<dt>Das Trainer</dt>
<dd><a href="/layout/das_trainer/<%= secret %>">-</a></dd>

<dt>Simple 1p</dt>
<dd><a href="/layout/simple_1p/<%= secret %>">-</a></dd>

<dt>Invisible Tetris</dt>
<dd><a href="/layout/invisible_tetris/<%= secret %>">-</a></dd>

</dl>

<p>Competition Layouts:</p>
<dl>

<dt>CTWC</dt>
<dd><a href="/layout/ctwc/<%= secret %>">-</a></dd>

<dt>CTJC</dt>
<dd><a href="/layout/ctjc/<%= secret %>">-</a></dd>

</dl>

<script>
document.querySelectorAll('a').forEach(a => {
	a.textContent = a.href; // make the link show the fully quailified url

	a.addEventListener('click', async (evt) => {
		evt.preventDefault();

		const result = await navigator.permissions.query({ name: 'clipboard-write' });

		if (result.state === 'granted') {
			const type = 'text/plain';
			const blob = new Blob([a.href], { type });
			const data = [new ClipboardItem({ [type]: blob })];

			try {
				await navigator.clipboard.write(data);
				alert('URL copied to clipboard.\nPaste it in your OBS\'s browser source and enjoy!');
			}
			catch(err) {
				alert('Could not copy URL to clipboard')
			}
		}
	});
});
</script>
</body>
</html>
