<html>
<head>
</head>
<body>
<p>Hi! On this page, you will find URLs for templates you can use in your OBS' browser sources.</p>

<p>This URLs identify <b>YOU</b> as a user, do NOT share them. They contain your secret identifier <b><%= secret %></b> (see <a href="/docs/">documentation</a> for details).</p>

<p>There are many templates you can try. Play around to get a sense of them all.</p>

<p>Single player layouts:</p>
<dl>

<!--
<dt>Classic</dt>
<dd><a href="/layout/classic/<%= secret %>"></a></dd>
-->

<dt>Classic</dt>
<dd><a href="/view/classic/<%= secret %>">-</a><br /><img src="/docs/layouts/classic.jpg" width="640"/></dd>

<dt>Das Trainer</dt>
<dd><a href="/view/das_trainer/<%= secret %>">-</a><br /><img src="/docs/layouts/das_trainer.jpg" width="640"/></dd>

<dt>Simple 1p</dt>
<dd><a href="/view/simple_1p/<%= secret %>">-</a><br /><img src="/docs/layouts/simple_1p.jpg" width="640"/></dd>

<dt>Invisible Tetris</dt>
<dd><a href="/view/invisible_tetris/<%= secret %>">-</a><br /><img src="/docs/layouts/invisible_tetris.jpg" width="640"/></dd>

<dt>Stencil</dt>
<dd><a href="/view/stencil/<%= secret %>">-</a><br /><img src="/docs/layouts/stencil.jpg" width="640"/></dd>

</dl>

<p>Competition layouts:</p>
<dl>

<dt>CTWC</dt>
<dd><a href="/view/ctwc/<%= secret %>">-</a><br /><img src="/docs/layouts/ctwc.jpg" width="640"/></dd>

<dt>CTJC</dt>
<dd><a href="/view/ctjc/<%= secret %>">-</a><br /><img src="/docs/layouts/ctjc.jpg" width="640"/></dd>

<dt>CTJC w/ PACE</dt>
<dd><a href="/view/ctjc_pace/<%= secret %>">-</a><br /><img src="/docs/layouts/ctjc_pace.jpg" width="640"/></dd>

<dt>CTM</dt>
<dd><a href="/view/ctm/<%= secret %>">-</a><br /><img src="/docs/layouts/ctm.jpg" width="640"/></dd>

</dl>

<p>If you'd like to change your secret, visit your <a href="/settings">settings</a> page to revoke the token (and generate a new one)</p>

<script>
document.querySelectorAll('dd a').forEach(a => {
	// Views are identified by their secrets and only get game frame data, we can supply the links over http and save SSL processing cost.
	const http_link = a.href.replace(/^https:/, 'http:');

	a.href = http_link;
	a.textContent = http_link; // make the link show the fully qualified url

	/*
	a.addEventListener('click', async (evt) => {
		evt.preventDefault();

		const result = await navigator.permissions.query({ name: 'clipboard-write' });

		if (result.state === 'granted') {
			const type = 'text/plain';
			const blob = new Blob([a.href], { type });
			const data = [new ClipboardItem({ [type]: blob })];

			try {
				await navigator.clipboard.write(data);
				alert('URL copied to clipboard.\nPaste it in your OBS\'s browser source and enjoy!');
			}
			catch(err) {
				alert('Could not copy URL to clipboard')
			}
		}
	});
	/**/
});
</script>
</body>
</html>
