<html>
<head>
</head>
<body>
<p>Hi! On this page, you will find URLs for templates you can use in your OBS.</p>

<p>This URLs identify <b>YOU</b> as a user, do NOT share them with anyone.</p>

<p>There are many templates you can try. PLay around to get a sense of them all.</p>

<p>Single player templates:</p>
<ul>
<li><a href="/template/classic/<%= secret %>">Classic</a></li>
<li><a href="/template/das_trainer/<%= secret %>">Das Trainer</a></li>
<li><a href="/template/simple_1p/<%= secret %>">Simple 1p layout</a></li>
<li><a href="/template/invisible_tetris/<%= secret %>">Invisible Tetris</a></li>
</ul>

<p>Competition Layouts:</p>
<ul>
<li><a href="/template/ctwc/<%= secret %>">CTWC</a></li>
<li><a href="/template/ctjc/<%= secret %>">CTJC</a></li>
</ul>

<script>

document.querySelectorAll('a').forEach(a => {
	a.addEventListener('click', async (evt) => {
		evt.preventDefault();

		const result = await navigator.permissions.query({ name: 'clipboard-write' });

		if (result.state === 'granted') {
			const type = 'text/plain';
			const blob = new Blob([a.ref], { type });
			const data = [new ClipboardItem({ [type]: blob })];

			try {
				await navigator.clipboard.write(data);
				alert('URL copied to clipboard');
			}
			catch(err) {
				alert('Could not copy URL to clipboard')
			}
		}
	});
});

</script>
</body>
</html>