<!DOCTYPE html>
<html>
<head>
		<%- include('partials/gtm_head') %>
		<title>NestrisChamps: renderers</title>
		<link rel="stylesheet" href="/vendor/bulma.1.0.2.min.css">
		<style>
			.navbar-item img {
				max-height: 2.5rem;
			}

			dt {
				text-transform: capitalize;
				font-weight: bold;
				margin-top: 1em;
			}

			section img {
				display: block;
				margin-top: 0.5em;
			}
		</style>
</head>
<body><%- include('partials/gtm_body') %>

<%- include('header'); %>

<section class="section">
	<div class="container content">
		<h1 class="title is-1">Nestrischamps Layouts</h1>
		<p>On this page, you will find URLs for layouts you can use in your OBS' browser sources.</p>

		<p>Those URLs identify <b>YOU</b> as a user, do NOT share them. They contain your secret identifier <b><%= secret %></b> (see <a href="/docs/">documentation</a> for details).</p>

		<p>There are many templates you can try. Play around to get a sense of them all.</p>

		<p>Your OBS browser sources must have a canva size of 1280x720 to show the layouts fully.</p>

		<p>The background in the layouts is tunable. Use the query string <strong>?bg=X</strong> to change it, where X is a number as follow:</p>
		<ol start="0">
			<li>Transparent background</li>
			<li>Black background with randomly positioned tetris tiles: <img src="/docs/backgrounds/tiles.jpg" /></li>
			<li>Green Nestrischamps animated background (branding FTW!): <img src="/docs/backgrounds/nestrischamps_green.jpg" /></li>
			<li>Rainbow Nestrischamps animated background: <img src="/docs/backgrounds/nestrischamps_rainbow.jpg" /></li>
		</ol>

		<h2 id="single">Single player layouts</h2>

		<dl>
		<% layouts._types['1p'].forEach(layout => { %>
		<dt id="<%= layout.file %>"><%= layout.file.replace(/_/g, ' ') %></dt>
		<dd>
			<% if (layout.info && layout.info.description) { %>
				<p><%= layout.info.description %></p>
			<% } %>
			
			<a href="/view/<%= layout.file %>/<%= secret %>">-</a>
			<% layout.screenshot_uris.forEach(uri => { %>
			<img src="<%= uri %>" width="640"/>
			<% }) %>
		</dd>
		<% }) %>
		</dl>

		<h2 class="title is-2" id="competition">Competition layouts</h2>

		<p>All competition layouts have native video enabled by default. To disable video, add a query string argument <strong>?video=0</strong> to the renderer URL.</p>

		<dl>
		<% layouts._types.mp.forEach(layout => { %>
		<dt id="<%= layout.file %>"><%= layout.file.replace(/_/g, ' ') %></dt>
		<dd>
			<% if (layout.info && layout.info.description) { %>
				<p><%= layout.info.description %></p>
			<% } %>

			<a href="/view/<%= layout.file %>/<%= secret %>">-</a>
			<% layout.screenshot_uris.forEach(uri => { %>
			<img src="<%= uri %>" width="640"/>
			<% }) %>

		</dd>
		<% }) %>
		</dl>

		<p>If you'd like to change your secret, visit your <a href="/settings">settings</a> page to revoke the token (and generate a new one)</p>

	</div>
</section>

<script>
document.querySelectorAll('dd a').forEach(a => {
	const http_link = a.href.replace(/^http:/, 'https:');

	a.href = http_link;
	a.textContent = http_link; // make the link show the fully qualified url
});
</script>
</body>
</html>
